<div class="navver">
    <div class="yin-yang"></div>
    <div class="nav"><a href="/users/signup" class="navv">sign up</a></div>
    <div class="nav"><a href="/users/login" class="navv">sign in</a></div>
    <div class="nav"><a href="/locations/add" class="navv">contribute</a></div>
</div>

<h3 class="welcome">Welcome to</h3>
<h1 class="banner">The Quarter Club!</h1>
<h6 class="caption">All your quarter machine destinations in one place!</h6>

<div class="parag">
    <p class="par">Welcome!  This is the only site on the internet where you can find places to get your favorite quarter machine toys.  If you know a place that has awesome quarter machines with toys/stickers/tattoos, sign up and share it with us!</p>
</div>

<ul class="location">
    {{#each location}}
    <div class="locationItem">
            <li>
                    <h1><a href="/locations/{{this.id}}" class="name">{{this.name}} </a> </h1>
                            <p class="machines"><span class="sp">machines at this location:</span> {{this.machines}} </p>

                    <div class="info">
                            <!-- <p><a href="/locations/{{this.id}}">more info</a></p> -->
                            <h3><a href="/locations/{{this.id}}/edit" class="edit">edit</a></h3>
                            <form action="/locations/{{this.id}}?_method=DELETE" method="POST">
                            <input type="submit" value="Delete This Location"/>
                            </form>
                    </div>
            </li>
    </div>
    {{/each}}
</ul>
