<h1>Name: {{location.name}}</h1>
<h1>Address: {{location.address}}</h1>
<h1>Quarter machines at this location: {{location.machines}}</h1>
<h1><a href="/">Back to Main Page</a></h1>
<!-- <a href="/users/{{user.id}}/project-ideas/{{projectIdea.id}}/edit">Edit Project Idea</a>
<form action="/users/{{user.id}}/project-ideas/{{projectIdea.id}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete Project Idea"/>
</form> -->
