<h1>My Quarter Machine Site</h1>

<!-- <p>Welcome!  This is the only site on the internet where you can find places to get quarter machine toys.  If you know a place that has awesome quarter machine toys/stickers/tattoos, you can sign up to share it!</p>

<ul>
    {{#each location}}
    <li>
       <!--  <h1><a href="/authors/{{this.id}}">{{this.fullName}}</a></h1>
        <h3>{{this.country}}</h3>
        <p>{{this.bookTitle}}, {{this.publication_year}}</p> -->
    </li>
    {{/each}}
</ul> -->
